.section-title {
    font-size: 2.2rem;
    color: black;
    text-align:left;
    margin-top: 0.75rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive; 
    
}

.cards {
    display:flex;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    gap: 0rem;
    flex-wrap: wrap;
}

.card1 {
    background-color: #B4A9A3; /* Light brown for card background */
    border-radius: 12px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card1 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card1 .content {
    padding: 1rem;
    text-align: left;
}

.card1:hover {
    transform: translateY(-5px);
}


.top-trending {
    padding: 2rem 1rem;
    background-color: #fff;
    color: #fff;
    text-align: center;
}

.top-trending p {
    margin-bottom: 2rem;
    color: #f2f2f2;
    font-size: 1rem;
}
